/* style.css file */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

header {
    background-color: #549E39;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

section {
    display: flex;
    min-height: calc(100vh - 160px); /* Adjusts for header + footer height */
}

nav {
    width: 30%;
    background: #2A4F1D;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #A8E6A3;
}

article {
    width: 70%;
    padding: 20px;
    background-color: #f1f1f1;
}

article h2 {
    margin-top: 25px;
}


table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 8px;
}

th {
    background-color: #549E39;
    color: white;
}

ol li {
    margin-bottom: 10px; /* Adjust spacing as needed */
}

@media (max-width: 600px) {
    section {
        flex-direction: column;
    }
	
header img {
    display: block;
    margin: 0 auto;
}

    nav, article {
        width: 100%;
        height: auto;
    }
}

footer {
    text-align: center;
    background-color: #549E39;
    color: white;
    padding: 10px;
}