/* Global Layout */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #549E39;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

section {
    display: flex;
    min-height: calc(100vh - 160px);
}

nav {
    width: 30%;
    background: #2A4F1D;
    padding: 20px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #A8E6A3;
    text-decoration: underline;
}

article {
    width: 70%;
    padding: 20px;
    background-color: #f1f1f1;
}

article h1, h2, h3 {
    margin-top: 10px;
}

/* Tables */
table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 8px;
}

th {
    background-color: #549E39;
    color: white;
}

/* Responsive */
@media (max-width: 600px) {
    section {
        flex-direction: column;
    }

    nav, article {
        width: 100%;
    }
}

/* Footer */
footer {
    text-align: center;
    background-color: #549E39;
    color: white;
    padding: 10px;
}
